---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<header class="bg-gruvbox-bg1 shadow-md py-4">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="/" class="text-xl font-semibold text-gruvbox-fg flex items-center">
      <span class="text-gruvbox-yellow mr-2 font-mono">~/</span>
      <span>Aidan O'Neil</span>
    </a>
    
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a 
            href="/" 
            class={`hover:text-gruvbox-yellow transition-colors ${currentPath === '' ? 'text-gruvbox-yellow' : 'text-gruvbox-fg'}`}
          >
            Home
          </a>
        </li>
        <li>
          <a 
            href="/resume" 
            class={`hover:text-gruvbox-yellow transition-colors ${currentPath === 'resume' ? 'text-gruvbox-yellow' : 'text-gruvbox-fg'}`}
          >
            Resume
          </a>
        </li>
        <li>
          <a 
            href="/projects" 
            class={`hover:text-gruvbox-yellow transition-colors ${currentPath === 'projects' ? 'text-gruvbox-yellow' : 'text-gruvbox-fg'}`}
          >
            Projects
          </a>
        </li>
        <li>
          <a 
            href="/blog" 
            class={`hover:text-gruvbox-yellow transition-colors ${currentPath === 'blog' ? 'text-gruvbox-yellow' : 'text-gruvbox-fg'}`}
          >
            Blog
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
